<div class="container">
	<div class="row">
		<a class="btn btn-primary" data-toggle="modal" href="#myModal1">Login</a>
    <div class="modal hide" id="myModal1">
      <form class="px-1 py-1 bg-white border border-light rounded w-25 mt-3 mx-auto" method="post">
				<div class="btn btn-primary d-flex justify-content-center mb-2">Đăng nhập</div>
				<input type="text" name="form-type" value="login" style="display:none">
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username_input" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password_input" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
				<a href="{{url_for('sign_up')}}" class="btn btn-warning">Đăng ký tài khoản</a>
      </form>
    </div>
	</div>
</div>
