<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand font-gaegu font-weight-bold" href="{{url_for('index')}}">Who To Call</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        {% include "homepage/login.html" %}
      </li>
      <li class="nav-item">
        {% include "homepage/signup.html" %}
      </li>
    </ul>
  </div>
</nav>
