<div class="container">
	<div class="row">
		<a class="btn btn-primary mx-1" data-toggle="modal" href="#myModal2">Sign up</a>
    <div class="modal hide" id="myModal2">
      <form class="px-1 py-1 bg-white border border-light rounded w-25 mt-3 mx-auto" method="post">
        <input type="text" name="form-type" value="signup" style="display:none">
        <div class="form-group">
          <label>Fullname</label>
          <input type="text" name="fullname" class="form-control" placeholder="Nguyen Van A" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="congchuawannakissed" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="hoangtugonnakiss" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
	</div>
</div>
