<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Who to call </title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    {% include 'homepage/nav.html' %}
    <div class="d-flex justify-content-between my-5">
      <div class="card" style="width: 18rem;">
        <a class="bg-dark" href="{{url_for('random_char')}}">Option 1</a>
        <div class="card-body">
          <p></p>
          <a href="{{url_for('random_char')}}" class="btn btn-primary">Find the victim</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <a class="bg-dark" href="{{url_for('random_state')}}">Option 2</a>
        <div class="card-body">
          <p></p>
          <a href="{{url_for('random_state')}}" class="btn btn-primary">Find the victim</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text">
        <script type="text/javascript" src="../static/js/scramble.js">

        </script>
      </div>
    </div>
  </body>
</html>
