<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Who to call </title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    {% include 'homepage/nav.html' %}

      <div class="w-100 h-100px d-flex justify-content-between" >

        <a href="{{url_for('random_char')}}"  class="bg-success col-5 h-100 d-flex justify-content-center"></a>
        <a href='{{url_for('random_state')}}' class="bg-success col-5 h-100 d-flex justify-content-center"></a>

      </div>

  </body>
</html>
