<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <h1>Đăng ký tài khoản</h1>
    <h3> <a href="{{url_for('index')}}">Home Page</a> </h3>
    <form method="post">
      <label>Tên đầy đủ</label>
      <input type="text" name="fullname" value="" required>
      <br>
      <label>Email</label>
      <input type="email" name="email" value="" required>
      <br>
      <label>Tên đăng nhập</label>
      <input type="text" name="username" value="" required>
      <br>
      <label>Mật khẩu</label>
      <input type="password" name="password" value="" required>
      <input type="submit">
    </form>
  </body>
</html>
